:root {
    --ilion-blue: #004DFF;
    --light-blue: #67a1ff;
    --dark-blue: #1105b4;
    --darkest-blue: #080442;;
    --gridlines: #f0f0f5;

    --transparent-ilion-blue: rgba(0, 77, 255, 0.8);
    --transparent-light-blue: rgba(103, 161, 255, 0.8);
    --transparent-dark-blue: rgba(17, 5, 180, 0.8);

    --warm-grey: #383230;
    --offwhite: #e6e0d4;

    /* "--content-offset" is how far over to the right things need to be in order to NOT collide with the dithered white border */
    --content-offset: 285px;
    /* "--content-width" is how wide stuff has to be in order to fill up all the avilable space without overflowing the edge of the screen */
    /* --sidebar-size is a manually-calculated constant */
    --sidebar-size: 408px;
    --content-width: calc(100vw - var(--content-offset) - var(--sidebar-size));

    --team-grid-cell-size: 350px;
    --profile-font-size: 24px;
    --scrolling-box-height: 50vh;
    --facilities-logo-size: 256px;
    --staff-profile-pic-size: 256px;
}

html {
    height: 100%;
}

body {
    background-color: #81b7ff;
    color: var(--darkest-blue);
    font-family: 'Squada One', sans-serif;
    margin: 0px;

    overflow-y: scroll;
    overflow-x: hidden;

    background-image: url("background.png");
    background-size: 100% auto;
    background-position: left bottom;
    background-repeat: repeat-x;
}

/* Scrollbar Stuff */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--transparent-light-blue);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--transparent-ilion-blue); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ilion-blue);
  }

/* End of Scrollbar Stuff */

.view {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, transparent 0% 10%, white 10% 100%);
    background-repeat-y: repeat;
}

#indexView {
    height: auto;
    width: auto;
    background-image: none;
}

#dogsView {
    height: auto;
    width: auto;
    background-image: none;
}

#main {
    position: fixed;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("background_white.png");
    background-size: 50%;
    background-repeat-x: no-repeat;
}

.title {
    font-family: "Rexlia";
    color: #080442;
    text-decoration-line: underline;
    text-transform: capitalize;

    position: absolute;
    top: 72px;
    left: 320px;
    font-size: 34px;
}

#wrapper {
    width: 100%;
    position: absolute;
    display: flex;
}

.banner {
    position: sticky;
    top: 0;
    /* width: 2000px; */
    overflow: clip;
}

#logo {
    position: absolute;
    height: 13vh;
    width: auto;
    top: 22px;
    left: 22px;
}

.backButton {
    height: 36px;
    width: 36px;
}


/************
*** FONTS ***
*************/

@font-face {
    font-family: "Nasalization";
    src: url(nasalization-rg.otf);
}

@font-face {
    font-family: "Rexlia";
    src: url(rexlia-rg.otf);
}

/******************
LANDING PAGE STUFF
*******************/
#main.index_main {
    position: absolute;
    width: 75%;

    overflow: visible;
    background-image: none;
}

#landing_page {
    position: absolute;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#splash {
    position: absolute;

    left: 28%;
}

#splash_art {
    width: auto;
    height: 90vh;

    border-radius: 10px;
}

/* "We are building a future for sled dogs!" banner */
#future {
    position: absolute;
    display: flex;

    top: 50%;

    width: auto;
    height: 10vh;
}

#splash_container {
    display: block;
    width: 40%;
    transform: translate(0%, 5%);
}

#credit {
    margin-left: auto;
    margin-right: 0;
    color: white;
}

#splash_decorations {
    width: 60%;
}

#paw_prints {
    position: absolute;
    display: block;
    width: auto;
    height: 45vh;

    right: 15%;

    opacity: 0.9;
}

#ticker {
    position: absolute;
    display: block;

    max-width: 100%;

    top: 47%;
}

.ticker_text {
    font-family: "Nasalization";
    color: white;
}

#ticker_line {
    position: absolute;
    max-width: 100%;
    left: 10%;
    height: 4vh;
}

#team_ilion {
    position: absolute;
    display: flex;

    right: 22%;
    bottom: 5%;

    width: auto;
    height: 30vh;
}

#join_us {
    position: absolute;
    display: flex;

    right: 20%;
    bottom: 1%;

    width: auto;
    height: 12vh;
}

/**************************
CSS Ticker that I got from Lewis Carey: https://codepen.io/lewismcarey/pen/GJZVoG
***************************/

@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-150%, 0, 0);
    }
}
  
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
}
  
.ticker_wrap {
    max-width: 100%;
    overflow: hidden;

    padding-left: 100%;
    box-sizing: content-box;

    -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 10%, black 15%);
    mask-image: linear-gradient(to right, transparent 0%, transparent 10%, black 15%);
}

.ticker_text {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: ticker;
            animation-name: ticker;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

.ticker_item {
    display: inline-block;

    padding: 0 2rem;
    font-size: 2rem;
    color: white;   
}


/**************************
End of ticker
***************************/

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-family: 'Droid Sans', serif; /* Different font for paragraphs */
    font-size: 22px;
}

a {
    text-decoration: none;
    color: var(--offwhite);
}

#fancy {
    font-family: 'Alegreya', serif; /* Just another font style */
}

footer {
    font-size: 10px;
}

ul {
    display: inline;
    padding-left: 0px
}

/* Images that appear in the textboxes */
.inline_img {
    /* Resizing to size of browser window */
    max-height: 100%;
    max-width: 100%;

    /* Centering */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.textbox {
    width: 600px;
    background-color: var(--ilion-blue);
    color: white;
    border-radius: 25px; /* Rounded edges */

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 55px;
    padding-right: 55px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* This is the stuff for the main team page, where you can see all of the dogs */
/* Thanks again to W3Schools for teaching me CSS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-rows: 0.2fr;
    gap: 20px 35px;

    margin-top: 125px;
    margin-left: 368px;
    margin-right: 5%;
}

.grid-item {
    height: var(--team-grid-cell-size);
    width: var(--team-grid-cell-size);
    text-align: center;
}

#thumbnail {
    position: relative;
    height: var(--team-grid-cell-size);
    width: var(--team-grid-cell-size);

    display: grid;
    place-items: center;
    background-image: url(text_box_wide.png);
    background-size: 100% 100%;
}

.profile_button {
    text-decoration: none; 
    text-align: center; 
    font-family: "Rexlia";
    font-size: xx-large;
    color: white;

    margin-top: 60%;
    width: 80%;

    background-color: var(--transparent-dark-blue);
    border: 2px solid var(--transparent-ilion-blue);
    border-radius: 10px;
    transition: 0.2s;

    z-index: 1;
}

.profile_button:hover {
    color: var(--dark-blue);
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: var(--transparent-light-blue);
    box-shadow: inset 0px 0px 4px 4px rgba(255, 255, 255, 0.8);
    /* filter: drop-shadow(0 0 0.75rem white); */
    transform: scale(1.1);
}

.grid-item img {
    position: absolute;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    bottom: 6px;

    max-height: calc(var(--team-grid-cell-size) + 30px);
    max-width: var(--team-grid-cell-size);
}

/* Make the sidebar move while scrolling */
#sidebarSpacing {
    z-index: 1;
    position: sticky;

    margin-top: 195px;
    margin-right: 137px;
}

/* Thank you W3 */
/* Style the links inside the sidenav */
#mainSidebar a, button {
    position: fixed; /* Position them relative to the browser window */
    left: 30px; /* Position them just slightly outside of the screen */
    padding: 10px; /* 10px padding */
    width: 195px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    text-align: center; /* Center the text */
    font-family: "Nasalization";
    font-size: 28px; /* Increase font size */
    color: white; /* Text color */
    background-image: url("menu_button.png"); /* Pointy-ended button */
    background-size: 100% 100%; /* Making sure it's not enormous */
    /* Rounded corners on the top right and bottom right side border-radius: 0 5px 5px 0; */
    transition: 0.15s; /* Add transition on hover */
}

#mainSidebar li {
    margin-bottom: 28px;
    width: 185px;
    height: 40px;
}

#mainSidebar a:hover {
    left: 35px; /* On mouse-over, make them pop out a little bit */
    color: var(--dark-blue);
    background-image: url("menu_button_hover.png"); /* Pointy-ended button */
}

/* Literally just the "TEAM" button dropdown menu */
.accordion {
    color:  white; /* Button class overwrites font styling, so I have to re-add it here */
    font-family: "Nasalization";
    font-size: 28px;

    width: 217px; /* Sizing it to look like the others */
    height: 55px;
    margin-bottom: -32px;

    background-color: transparent; /* Overwrite CSS native button background color */
    border: none;
    outline: none;
    cursor: pointer; /* I think the Javascript needs this to assign the active object properly */

    transition: 0.15s; /* Add transition on hover */
}

.active, .accordion:hover {
    left: 35px; /* On mouse-over */
    color: var(--dark-blue);
    background-image: url("menu_button_hover.png"); /* Pointy-ended button */
}

.teamsPanel {
    display: none;
    overflow: hidden;
}

.popout {
    width: 100%;
    margin-left: 245px;
}

/* These are the buttons that are shown when you click on "TEAM" */
#mainSidebar a.popout {
    width: 210px;
    background-image: url("menu_button.png"); /* Closed chevrons */
}

#mainSidebar a.popout:hover {
    background-image: url("menu_button_hover.png");
}

/* ------------------------------------------ */
/* Stuff for each individual dog's about page */
/* ------------------------------------------ */

#aboutPageWrapper {
    position: fixed;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: hidden;

    display: flex;
}

#dog_name {
    position: fixed;
    top: 5%;
    left: 392px;
    writing-mode: vertical-lr;
    transform: rotateX(180deg) rotateY(180deg);
    -webkit-text-stroke: 1px var(--light-blue);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-family: "Rexlia";
    font-size: 112px;
}

#gallery {
    background-image: url("profile_bg.png");
    background-size: 100%;
    float: left;
    /* border: 7px solid red; */
}

#info {
    width: 50%;
    margin-right: 25px;
    height: auto;
    float: left;
    /* border: 7px solid green; */
}

/* The grid: Three equal columns that float next to each other */
.row {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}


.column {
    text-align: center;
    height: 20vh;
    float: left;
    width: 30%;
    padding: 5px;
}
  
  /* Style the images inside the grid */
.column img {
    max-height: 100%;
    opacity: 0.8;
    cursor: pointer;
}
  
.column img:hover {
    opacity: 1;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Big image that shows what you have selected (or dog's default pic) */
.bigPic {
    position: relative;
    display: block;
    margin-left: 205px;
}

#expandedImg {
    object-fit: contain;
    max-width: 462px;
    border-radius: 10px;
    height: 60vh;
}

#galleryFrame {
    margin-top: 10%;
    display: flex;
}
  
/* Optional caption for the image */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Trapezoid-shaped tabs that control the info panels */

#aboutTabs {
    transform: translate(-10%, 0%);
    margin-top: 10%;
    position: relative;
    height: 50px;
    /* border: 3px solid rgb(33, 32, 139); */
    z-index: 1;
}

.tab {
    float: right; /* Align them to the right edge of the container */
    position: relative;
    left: 0px;
    margin-right: 15px;
    width: 25%;
    height: 92%;
    color: #f0f0f5;
    font-family: 'Squada One', sans-serif;
    font-size: 24px; /* Increase font size */
    background-color: rgba(0,0,0,0);
    border: none;
}

.tab:hover {
    background-color: var(--transparent-light-blue);
}

#about_tab {
    background-image: url("about_tab.png");
}

#facts_tab {
    background-image: url("facts_tab.png");
}

#interview_tab {
    background-image: url("interview_tab.png");
}

/* For spacing and content reveal on the info page */
.toggleInfo {
    transform: translate(-10%, 0%);
    position: relative;
    transition: 0.3s;
}

/* Textbox variation that appears on a dog's info page */
.dogTextbox {
    max-height: 25vh;

    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    margin-top: 15px;
    margin-bottom: 15px;

    font-size: var(--profile-font-size);
}

.dogTextboxBackground {
    background-image: url("text_box_wide.png");
    background-size: 96% 96%;
    background-repeat: no-repeat;
}

.dogTextbox p {
    text-align: left;
    font-size: var(--profile-font-size);
    font-weight: bold;
}

#scrollingBox {
    max-height: var(--scrolling-box-height);
    overflow: auto;
    /* Make the area that displays and scrolls text slightly smaller than the background */
    position: relative;
    top: 25px;
    padding-top: 0px;
    padding-bottom: 50px;

    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 7%, black 75%, transparent 89%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 7%, black 75%, transparent 89%);
}

#stats #scrollingBox {
    max-height: 30vh;
}

/* ----------------------------- */
/* Elements for Facilities Pages */
/* ----------------------------- */

.facilities_about {
    margin-left: var(--content-offset);
    width: var(--content-width);
}

/* Styling for the staff sections */
.facilities_personnel {
    margin-left: var(--content-offset);
    width: var(--content-width);
    display: flex;
}

.staffAbout {
    float: left;
    padding: 10px;
    margin-left: 20px;

    width: 70%;
}

.staffPic {
    float: left;
    padding: 10px;
    margin-right: 20px;
    width: 20%;

    display: flex;
    align-items: center;
}

.staffAbout p {
    text-align: left;
}

.carousel {
    background: white;
    width: var(--content-width);
    margin-left: var(--content-offset);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}
  
.carousel img {
    display: block;
    height: 25vh;
    margin-right: 20px;
}

/* ----------------------------------------------- */
/* CSS for Modal Images that I got from W3 Schools */
/* ----------------------------------------------- */

/* Style the Image Used to Trigger the Modal */
.staffThumb {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    margin: auto;

    height: var(--staff-profile-pic-size);
    width: var(--staff-profile-pic-size);
}
  
.staffThumb:hover {opacity: 0.7;}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: var(--offwhite);
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
            width: 100%;
    }
}