<div id="main">
    <!-- This page's html is a hot mess because I'm reusing elements from other parts of the site that were named a little too specifically -->
    <div id="dog_name">ABOUT</div>

    <div class="facilities_personnel">
        <div class="about_left">
            <!-- <img class="sled_dog_gif" src="{{url_for ('static' , filename='sled_dog_gif.gif')}}" alt="Sled Dogs Running"> -->

            <img class="ilion_map" src="{{url_for ('static' , filename='map_final.png')}}" alt="Map of Ilion">
            <!-- Dummy for the modal -->
            <img class="ilion_map_full" src="{{url_for ('static' , filename='map_final.png')}}" style="display: none;"/>

            <!--
            <div id="slideshow">
                <a><img src="{{url_for ('static' , filename='slide_0.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_1.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_2.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_3.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_5.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_6.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_7.png')}}"></a>
            </div>
            -->
        </div>
        <div class="about_right">
            <!-- <img class="about_logo" src="{{url_for ('static' , filename='logo_ilion_blue.png')}}"/> -->
            <div class="mission_statement">
                <p>
                    <img id="ilion_logo" src="{{url_for ('static' , filename='ilion_logo.png')}}" alt="Ilion Logo">
                    <p>
                        &emsp;&emsp;The Ilion Sanctuary is the home of Team Ilion, a competitive sled dog team composed of different dog breeds from around the world! Sporting their signature red harnesses, our sled dogs compete in multiple races each season, and all training takes place on our 70-acre property located on the edge of Diogenes, Alaska.
                        <br>&emsp;&emsp;In addition to our kennel, we also provide multiple animal care facilities such as a veterinary clinic, doggy daycare, dog salon, and even a dog-friendly cafe! We are open to guests all year round, and invite you to come meet our team and learn about Ilion’s epic tale!
                    </p>
                </p>
            </div>
        </div>
    </div>

    <div class=about_page_tabs>
        <button class="about_page_tab" id="team_tab" onclick="changeText('about_team')"><em>Mission</em></button>
        <button class="about_page_tab" id="facilities_tab" onclick="changeText('about_facilities')"><em>Health & Care</em></button>
        <button class="about_page_tab" id="sponsorship_tab" onclick="changeText('about_sponsorship')"><em>Sponsorships</em></button>
    </div>

    <div class="facilities_personnel">
        <div class="about_left">
            <img id="about_team_img" class="about_img" src="{{url_for ('static' , filename='our_mission.png')}}" alt="our_mission"/>
            <img id="about_facilities_img" class="about_img" src="{{url_for ('static' , filename='health_and_wellness.png')}}" style="display: none;" alt="health"/>
            <img id="about_sponsorship_img" class="about_img" src="{{url_for ('static' , filename='sponsorships.png')}}" style="display: none;" alt="happy_yukola"/>
        </div>
        <div class="about_right">
            <!-- Inline styling for the font size here -->
            <div class="dogTextboxBackgroundAboutPage" id="about_team">
                <div class="dogTextbox" id="scrollingBox">
                    <p style="font-size: 16px; margin-block-start: 0px;">
                        &emsp;&emsp;The Ilion Musher has made it their mission to give rescued dogs a place to call their own. Bringing together dogs from across the globe, the team began as a way to give these dogs a chance to find or continue their passion for pulling. Ilion isn't just a home to experienced sled dogs—many of our members have never had prior experience in racing, but sought out the sport, yearning for something new and to connect with their fellow teammates. Ilion’s dogs are always given a choice in whether they want to participate or not, as their well-being and comfort is top priority at the sanctuary.
                        <br>&emsp;&emsp;As our team continues to grow, so does our popularity! Our sled dogs are adored by fans globally, and this has allowed Ilion to expand on its training itinerary and infrastructure. Even though Ilion’s goal is to reach the top of the mushing world someday, what our organization values the most will never change—and that is the love and care we have for our dogs!<br><br>
                    <!-- These exist to allow the user to scroll further down in the scroll box -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- -->
                    </p>
                </div>
            </div>
            <div class="dogTextboxBackgroundAboutPage" id="about_facilities" style="display: none;">
                <div class="dogTextbox" id="scrollingBox">
                    <p style="font-size: 16px; margin-block-start: 0px;">
                        &emsp;&emsp;The health and well-being of the Ilion team is critical and of the utmost importance for us. For dogs that participate in racing, check-ups and vaccines are given routinely. But it doesn't just stop at the basics—every dog is unique, and Ilion's vet staff always makes sure that each dog is cared for with their specific needs in mind. If a dog is not feeling well, they will not participate in training or races until they are in full health; there are no exceptions to this rule.
						<br>&emsp;&emsp;The sanctuary also houses dogs that are retired or currently under rehabilitation—unable to race either due to choice or circumstance—Rehabilitation programs are catered to each dog's needs, and put into place for dogs who seek to return to racing someday.
                        <br>&emsp;&emsp;Our vet practice is staffed by passionate and dedicated veterinarians. Attentiveness to patients, quick response times, and providing nothing short of the most quality care for all animals is our primary concern. To read more about our staff and veterinary services, please check out our <span onclick="load_view('clinic')">clinic page!</span><br><br>
                    <!-- These exist to allow the user to scroll further down in the scroll box -->
                    <br>
                    <br>
                    <br>
                    <br>
                    </p>
                </div>
            </div>
            <div class="dogTextboxBackgroundAboutPage" id="about_sponsorship" style="display: none;">
                <div class="dogTextbox" id="scrollingBox">
                    <p style="font-size: 16px; margin-block-start: 0px;">
                        &emsp;&emsp;The Ilion Sanctuary has been a grassroots, non-profit organization since its founding. In the beginning of its development, our sanctuary was funded solely by Ilion's Musher—but thanks to our team gaining popularity worldwide, we have been able to raise awareness towards our sanctuary and operations. As a result, Ilion has received countless generous donations from our fans and local communities, and we have also secured many wonderful sponsors*. We’re grateful to say that with everyone’s loving support, our sanctuary's ever-expanding operations will continue to run smoothly!
						<br>&emsp;&emsp;You can learn more on how to support the sanctuary by visiting our <strong>support us</strong> pages.
                        <br>&emsp;&emsp;*As a non-profit organization, all donations received will go towards the care of our dogs, our sanctuary, and expenses at our on-site veterinary clinic. Ilion only accepts support from reputable and trusted sponsors—listed to the left. If you represent an organization that is interested in officially sponsoring us, <strong><u>please contact us here.</u></strong><br><br>
                    <!-- These exist to allow the user to scroll further down in the scroll box -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    function changeText(tabName) {
            var i;
            var x = document.getElementsByClassName("dogTextboxBackgroundAboutPage");
            var y = document.getElementsByClassName("about_img");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
            document.getElementById(tabName + "_img").style.display = "block";
        }
</script>
{% endblock %}