<div id="main">
    <div id="dog_name">BLOG</div>

    <!-- If blog begins with image, needs "margin-top: 50-80px" in order to provide -->
    <!-- a small space between the image and the title of the blog post -->
    <!-- (See inline styling) -->

    <!-- If blog begins with tex, no margin-top needed -->

    <!-- LATEST BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;New site and interviews</em></div>
        <div id="blog_date"><em>2023.07.14</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib1.png')}}" class="inline_img" id="blog_chibi" alt="Honami">posted by Staff Honami</div>
        <br>
        <img style="margin-top: 60px;" src="{{url_for ('static' , filename='blog_7.png')}}" class="inline_img" alt="Group">
        <p>
            Hi~ It’s me, Honami!<br><br>
            &emsp;&emsp;I’m so happy that we can finally share Ilion’s new website. Dani and I have been working hard alongside Hector to make it happen. There’s still many things we want to add, but for now we hope you can enjoy browsing what we have so far. Also, I finally finished conducting and transcribing the interviews with all of the dogs. You can read them on each of the dog’s pages under the “interview” tab. It was a lot of fun doing the interviews with them–each dog is so unique! If you happen to stop by the clinic, feel free to tell me which interview was your favorite! Also, Hector mentioned a page that compiles all of the races the team has participated in.
            <br><br>
            <span onclick="load_view('results')">~You can find that page here.~</span>
            <br><br>
            &emsp;&emsp;Above is a photo that Polina took of me after I had finished compiling all of the interviews. Please don’t mind my messy desk
            <br><br>
            Thank you for supporting Ilion, everyone! Until next time, bye bye!
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Training season</em></div>
        <div id="blog_date"><em>2024.05.12</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib5.png')}}" class="inline_img" id="blog_chibi" alt="Musher">posted by Ilion Musher</div>
        <p>
            <!-- Extra <br> to void weird clipping issues with the chibi icon -->
            <br><br><br>
            &emsp;&emsp;Hello! It’s been a while since I made a post, I’m really sorry! The training season started a while ago so we’ve been working hard!
            <br><br>
            &emsp;&emsp;Usually during the summer, I use a simple cart to train the dogs, but Andrew told me he had a spare ATV back at his kennel, so we took a trip up to Cantwell to retrieve it. Midway we stopped by Talkeetna to rest. Andrew drove so fast that we had some spare time to sightsee. There was a painted photo stand of mushers and sled dogs, so we asked a kind stranger to take a photo for us. I really like it so I wanted to share it here. The weather was really nice and we could see Denali from afar! It was a much needed break. I had a lot of fun!
            <br><br>
            <img src="{{url_for ('static' , filename='blog_5.png')}}" class="inline_img" alt="Group">
		    <br><br>
            &emsp;&emsp;Even though the midnight sun is here, we didn’t want to be too late getting back– and you would think that the ATV on the back of the truck would slow Andrew down, but he managed to get us back to the sanctuary before it was dinner time. Sometimes I wish I could drive like a Texan too, but I think I’m fine going the exact speed limit– but maybe that’s why Andrew is an iditarod winner, and I'm not!
            <br><br>
            &emsp;&emsp;After the dogs had their dinner, Andrew unloaded the ATV and test drove it around the trails. A few of the dogs were really interested in it, but others were scared of the loud noise it made. Here’s a video– Hina and Marya were brave enough to face it and weren’t bothered by the sound at all! 
            <br><br>
            <img src="{{url_for ('static' , filename='blog_6.png')}}" class="inline_img" alt="Group">
            <br><br>
            &emsp;&emsp;I think once the dogs get used to the sound it makes we will be using it often! I can’t wait!
            <br><br>
            &emsp;&emsp;By the way, Andrew recommended doing summer tours as a way to bring in extra income for the team and to help the dogs with training–He’s been doing tours at his kennel for the past few years, so he says he’s willing to help. I like the idea of it, so I will talk with everyone about it soon. If everyone agrees to it, we may have Ilion tours in the future! 
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Ilion cafe~✰</em></div>
        <div id="blog_date"><em>2024.04.25</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib3.png')}}" class="inline_img" id="blog_chibi" alt="Dorothy">posted by Dorothy</div>
		<img style="margin-top: 50px;" src="{{url_for ('static' , filename='blog_3.png')}}" class="inline_img" alt="Group">
        <p>
            &emsp;&emsp;Hello everyone~✰! Recently there’s been a lot of customers coming by the cafe, and all of the treats have been selling out so fast! So Sparky, Eleky, and I have been working really hard to make sure there’s enough for everyone who stops by! Here’s a little video I took of the two making a yummy ice blended coffee. It’s really cute, right~? 
            Even though the midnight sun is here, we didn’t want to be too late getting back– and you would think that the ATV on the back of the truck would slow Andrew down, but he managed to get us back to the sanctuary before it was dinner time. Sometimes I wish I could drive like a Texan too, but I think I’m fine going the exact speed limit– but maybe that’s why Andrew is an iditarod winner, and I'm not!
            <br><br>
            <img src="{{url_for ('static' , filename='blog_4.png')}}" class="inline_img" alt="Group">
            <br><br>
            &emsp;&emsp;Here’s a super cute pic I took of Eleky posing next to some of our completed masterpieces~ Doesn’t he look so proud? Well he should be because the treats came out soooo good! It’s difficult not to eat it all ourselves. If Sparky or I try to eat anything, Eleky gets angry! 
            Don’t forget that all of our treats are dog friendly! 
            Except for our coffee…Please don’t give coffee to your dogs!!!
		</p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Training season starts now!</em></div>
        <div id="blog_date"><em>2024.04.03</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib5.png')}}" class="inline_img" id="blog_chibi" alt="musher">posted by Ilion Musher</div>
        <img style="margin-top: 70px;" src="{{url_for ('static' , filename='blog_2.png')}}" class="inline_img" alt="Group">
        <p>
            &emsp;&emsp;We just finished our last race of the winter season!
            The <i>Placidia Trail Race 2024- Mid distance race (120km).</i> We came in 5th place this year which is a huge improvement from last year– 11th place! The team has been working really hard to improve their endurance and speed, and I’m really proud of them! The team roster used for the Placidia Trail Race was <i>Alto, Mabel, Timmy, Aurora, Tanya, Kamira, Canela, and Ponchik</i>. Everyone worked so hard, I’m so proud of them! 
            <br><br>
            &emsp;&emsp;I do wish I had signed up for more races this winter season. The good thing about sprint and some mid-distance races is that they don’t take so long to race in. Preparation can take a bit, but it’s nothing compared to the prep and race time of a long-distance race. Due to everything going on I wasn’t able to participate in any long-distance races. I know I said I would talk about why I wasn’t able to race in the Iditarod this year in another blog post, but not yet. I promise I will talk about it eventually–and don’t worry it’s all very exciting news, so please wait patiently! 
            <br><br>
            &emsp;&emsp;Thank you everyone for your hard work! Let’s do our best next winter! Let the training season begin!
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;First blog post!</em></div>
        <div id="blog_date"><em>2024.01.05</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib5.png')}}" class="inline_img" id="blog_chibi" alt="musher">posted by Ilion Musher</div>
        <img style="margin-top: 40px;" src="{{url_for ('static' , filename='blog_1.png')}}" class="inline_img" alt="Group">
        <p>
            &emsp;&emsp;Hello everyone! I want to thank Honami and Dani for setting this blog up! From now on we will be using this blog to keep everyone updated about our activities here and abroad. For our first official post, I’d like to announce that our training uniforms have finally arrived! They’re quite simple, but I think it fits the image of the team nicely, and everyone seems to like them! Here’s a nice photo of Sammy showing off how it looks! I can’t wait for everyone to wear them for the upcoming training season, which is coming up very soon. We have about three sprint and two mid-distance races in line before then! 
            <br><br>
            &emsp;&emsp;One more announcement I have is that I unfortunately had to drop the team out of this upcoming Iditarod. There’s a lot of factors into why I made the decision, but I will save the details for another blog post.
            <br><br>
            &emsp;&emsp;Finally, the other Ilion staff will have access to this blog, so please look forward to updates from them too! I’ll try my best to update this blog when I have time. Thank you everyone for supporting us and Happy New Year!
        </p>
    </div>
</div>