<div id="main">
    <!-- LATEST BLOG ENTRY -->
    <div class="textbox">
        <h1>LATEST BLOG ENTRY</h1>
        <img src="{{url_for ('static' , filename='blog_1.png')}}" class="inline_img" alt="Group">
        <p>
            Sandwich hamster hotdog ilion toaster mushroom. Capsize random tube top buffalo scarecrow. Another feather crazy in everywhere? Mammoth hairdresser George Washington.
        </p>
    </div>
    <!-- EARLIER BLOG ENTRY -->
    <div class="textbox">
        <h1>ANOTHER BLOG ENTRY</h1>
        <img src="{{url_for ('static' , filename='blog_2.png')}}" class="inline_img" alt="Cafe">
        <p>
            Anjks lwk f skrf sff sis. sid ei is, ja em ckkke cleoinr voenf roe on oaoa?
        </p>
    </div>
    <!-- EARLIER BLOG ENTRY -->
    <div class="textbox">
        <h1>BLOG TITLE HERE</h1>
        <img src="{{url_for ('static' , filename='blog_3.png')}}" class="inline_img" alt="Friends">
        <p>
            I'd've been married a long time ago, if it weren't for Cotton-Eye Joe. Where did you come from, where did you go? Where did you coome from, Cotton-Eye Joe?
        </p>
    </div>
    <!-- EARLIER BLOG ENTRY -->
    <div class="textbox">
        <h1>BLOG BLOG BLOG</h1>
        <img src="{{url_for ('static' , filename='blog_4.png')}}" class="inline_img" alt="Poster">
        <p>
            Now you're in New York. Concrete jungle wet dream tomato, there's nothing you can't do, now you're in New York. These streets will make you feel brand new, bright lights will inspire you, now you're in New York.
        </p>
    </div>
    <!-- EARLIER BLOG ENTRY -->
    <div class="textbox">
        <h1>EARLIEST BLOG ENTRY</h1>
        <img src="{{url_for ('static' , filename='blog_5.png')}}" class="inline_img" alt="Mugs">
        <p>
            Jiayun means “little foreign one” or “child of the frontier” and is a very unusual name. When they first met, Emi gave her the name as a nickname, and it just kinda stuck. Emi thought it was fitting because when Jiayun crash-landed in Taiyat, nobody could identify where she came from or what language she was speaking. Every once in a while, people will comment on how strange the name is, and Jiayun tells them to thank Emi, because she's the one who picked it out.
        </p>
    </div>
</div>