<div id="main">
    <div id="dog_name">
        BLOG
    </div>

    <!-- LATEST BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Latest blog post!</em></div>
        <div id="blog_date"><em>2023.09.01</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib1.png')}}" class="inline_img" id="blog_chibi" alt="honami">posted by Staff Honami</div>
        <img src="{{url_for ('static' , filename='blog_1.png')}}" class="inline_img" alt="Group">
        <p>
            Sandwich hamster hotdog ilion toaster mushroom. Capsize random tube top buffalo scarecrow. Another feather crazy in everywhere? Mammoth hairdresser George Washington.
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Another blog post!</em></div>
        <div id="blog_date"><em>2023.07.03</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib2.png')}}" class="inline_img" id="blog_chibi" alt="paris">posted by Staff Paris</div>
        <img src="{{url_for ('static' , filename='blog_2.png')}}" class="inline_img" alt="Group">
        <p>
            Emi is a normal girl from a military family. Along with her friends Jiayun and Taelun, she enlists in her nation's naval academy in order to protect her people against an ever-increasing pirate threat. When pirates attack and destroy the school, Emi and her crew are sent to the pirate homeland to defeat them for good. Met with the harsh conditions of the messy war, it is up to the player to guide the characters through one of many different routes based on the decisions they make.
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Another blog post!</em></div>
        <div id="blog_date"><em>2023.04.05</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib3.png')}}" class="inline_img" id="blog_chibi" alt="???">posted by Someone</div>
        <img src="{{url_for ('static' , filename='blog_3.png')}}" class="inline_img" alt="Group">
        <p>
            Lixue is a member of the main five, and will always be recruited. She interacts with all of the major story events and helps the crew get out of (and sometimes into) trouble. She starts as comic relief and later matures into a levelheaded, veteran commander. Unlike Emi and Jiayun, she is not responsible for steering the main course of the plot.
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Another blog post!</em></div>
        <div id="blog_date"><em>2023.02.11</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib4.png')}}" class="inline_img" id="blog_chibi" alt="polina">posted by Staff Polina</div>
        <img src="{{url_for ('static' , filename='blog_4.png')}}" class="inline_img" alt="Group">
        <p>
            The Samyu Empire was a powerful thalassocracy with a rich history. After decades of corruption and civil war, the empire collapsed, and its namesake region flooded due to divine interference. Nevertheless, Samyu culture continues to have a dominating influence on the known world.
        </p>
    </div>
    <!-- NEXT BLOG ENTRY -->
    <div class="blog_textbox">
        <div id="blog_title"><em>&emsp;Another blog post!</em></div>
        <div id="blog_date"><em>2022.12.23</em></div>
        <div id="blog_stamp"><img src="{{url_for ('static' , filename='chib5.png')}}" class="inline_img" id="blog_chibi" alt="musher">posted by Staff Musher</div>
        <img src="{{url_for ('static' , filename='blog_5.png')}}" class="inline_img" alt="Group">
        <p>
            The Yihai Plague was a deadly epidemic occurring in Tuleng and South Samyu in the years 1532-1533. Although the plague also reached the Yansam Republic, modern medicinal advancements in Hanrang spared much of the population there.
        </p>
    </div>
</div>