{% extends "/layout.html" %}

{% block title %}
    CAFE
{% endblock %}

{% block cafe %}
    <div id="main">
        <img class="facilities_about" src="{{url_for ('static' , filename='cafe_about.png')}}" alt="Cafe"/>

        <div class="facilities_personnel">
            <div class="about_left">
                <img class="facilities_image" src="{{url_for ('static' , filename='cafe.png')}}">
                <!--
                <div id="cafe_slideshow">
                    <a><img src="{{url_for ('static' , filename='slide_7.png')}}"></a>
                    <a><img src="{{url_for ('static' , filename='slide_5.png')}}"></a>
                    <a><img src="{{url_for ('static' , filename='slide_7.png')}}"></a>
                    <a><img src="{{url_for ('static' , filename='slide_5.png')}}"></a>
                </div>
                -->
            </div>
            <div class="about_right">
                <p>
                    Are you a big fan of coffee and sweets? Being a fairly new addition to the sanctuary, our cafe has already captured the hearts of both our guests and our dogs! With an ever-changing and trendy menu, using only fresh ingredients supplied locally by the wonderful residents of Diogenes, all of our pastries and coffee are made fresh in house with plenty of love~ Here, you'll also find Ilion merchandise, all of which goes directly to supporting the sanctuary and our team! With how often our sled dogs come here to relax, there might be a chance you meet one of your favorite team members here as well!
                </p>
            </div>
        </div>

        <div style="display: flex;">
            <div id="cafe_popular">
                POPULAR
            </div>
            <div class="carousel">
                <img src="{{url_for ('static' , filename='food_1.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_2.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_3.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_4.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_5.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_6.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_7.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_8.png')}}" alt="yummy food"/>
                <img src="{{url_for ('static' , filename='food_9.png')}}" alt="yummy food"/>
            </div>
        </div>

        <div class="facilities_personnel">
            <div class="staffAbout">
                <p>
                    <strong>Michelle ~ Barista</strong><br>
                    &emsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
                <p>
                    <strong>Sparky ~ Assistant Barista</strong><br>
                    &emsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
            </div>
            <div class="staffPic">
                <!-- The "staffFull" img is a dummy used by the modal to open a different version of the img than the one that's being used for the thumbnail -->
                <img class="staffThumb" src="{{url_for ('static' , filename='staff_cafe_00.png')}}" alt="Michelle ~ Barista"/>
                <img id="staffFull" src="{{url_for ('static' , filename='staff_cafe_00.png')}}" style="display: none;"/>
                <img class="staffThumb" src="{{url_for ('static' , filename='staff_cafe_01.png')}}" alt="Sparky ~ Assistant Barista"/>
                <img id="staffFull" src="{{url_for ('static' , filename='sparkyprofilefull.png')}}" style="display: none;"/>
            </div>
        </div>
    </div>
{% endblock %}