<div id="mainFacilities">
    <div class="unequalColumns">
        <div class="unequalColumn eyecatch">
            <img id="eyecatch" src="{{url_for ('static' , filename='sparkyeyecatch.png')}}">
        </div>
        <div class="unequalColumn middle">
            <img class="facilitiesLogo" src="{{url_for ('static' , filename='logo_cafe.png')}}">
            <h1>CAFE</h1>
            <p>
                Have an appointment you're waiting for but you arrived too early? Or maybe you're looking to pet dogs as you sip a nice warm coffee? Then look no further and head on over to the Ilion cafe! With a variety of coffees and teas made with Alaskan brand beans and leaves, our baristas can whip up something soothing just for you! We also have a dessert menu full of delicious and sweet pastries that are unique to Ilion. Occasionally there will even be special menu items that will pop up! You can also find Ilion merchandise inside of the cafe too~ From plushies, postcards, buttons, t-shirts, and more! Show your support by finding merch of your favorite dog!
            </p>
        </div>
        <div class="unequalColumn extra">
            <img src="{{url_for ('static' , filename='cafe.png')}}">
            <div class="schedule">
                <p>
                    <strong>Schedule</strong><br>
                    Monday-Friday: 7:00-16:00<br>
                    Saturday: 7:00-12:00<br>
                    Sunday: CLOSED<br>
                </p>
            </div>
        </div>
    </div>

    <h2>There will be a carousel of cafe items here in a later update<h2>

    <h2>Meet our cafe staff!</h2>

    <div class="facilitiesPersonnel">
        <div class="staffAbout">
            <p>
                <strong>Sparky ~ Assistant Barista</strong><br>
                &emsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>
        </div>
        <div class="staffPic">
            <img class="staffThumb" src="{{url_for ('static' , filename='sparkyprofilethumb.png')}}" alt="Sparky ~ Assistant Barista"/>
            <!-- This second img is a dummy used by the modal to open a different img than the one that was clicked -->
            <img id="staffFull" src="{{url_for ('static' , filename='sparkyprofilefull.png')}}" style="display: none;"/>
        </div>
    </div>
</div>