<div id="main">
    <img class="facilities_about" src="{{url_for ('static' , filename='clinic_about.png')}}" alt="Clinic Header"/>

    <div class="facilities_personnel">
        <div class="about_left">
            <img class="facilities_image" src="{{url_for ('static' , filename='clinic.png')}}" alt="Outside the Clinic">
        </div>
        <div class="about_right">
            <p>
                Straight down the road after passing through the gates of the Ilion sanctuary, you’ll find where our clinic stands– where it all began! Before our sanctuary grew to what it is today, our humble clinic was all that occupied these grounds. It is a symbol of our desire, above all else, for animal welfare– a place of warmth, kindness, and healing. Our team is composed of professionally trained veterinarians, experienced with animals of all kinds. We offer routine check ups and diagnostics, vaccinations, dental services, microchipping, minor surgeries, and more – Please note that we are not an emergency hospital, however our staff is trained in critical care. We are open for the majority of the year sans major holidays, and accept both appointments and walk-in patients. Currently, we only accept US citizens.
            </p>
        </div>
    </div>

    <div class=about_page_tabs>
        <button class="about_page_tab" id="facilities_tab" onclick="staffDisplay('human_staff')"><em>Main</em></button>
        <button class="about_page_tab" id="sponsorship_tab" onclick="staffDisplay('animal_staff')" style="width: 260px;"><em>Animal Assistants</em></button>
    </div>

    <div class="facilities_personnel">
        <!-- HUMAN STAFF -->
        <div class="clinic_staff" id="human_staff">
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_00.png')}}">
                    <div class="clinic_staff_nametag"><em>Musher</em></div>
                </div>
                <p>
                    One two three four five six sevene eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen.
                </p>
            </div>
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_01.png')}}">
                    <div class="clinic_staff_nametag"><em>Polina</em></div>
                </div>
                <p>
                    UHuhu uhwuw whuuwsuh UHuhuhuhuHHu Huhuhuhuhu uhUHUHU uHuhwui uwuhw uhUW uhw hUh WUhwuH uH uwhu.
                </p>
            </div>
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_02.png')}}">
                    <div class="clinic_staff_nametag"><em>Dei</em></div>
                </div>
                <p>
                    Bu oa wj ejjek ss,s cllc.ds dsfksj ,a. .a skdjaskd ajs iiQi iu 5 yg ygw duw u unu Tyy's lkj ,s.
                </p>
            </div>
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_03.png')}}">
                    <div class="clinic_staff_nametag"><em>Honami</em></div>
                </div>
                <p>
                    lksadfjl askjfd laskjkdk kjasdjdf lklasd ,s lask jflkas jkldflas. fsaklas df. kjsafj jlkas kldflas.as kljjfas.
                </p>
            </div>
        </div>

        <!-- ANIMAL STAFF -->
        <div class="clinic_staff" id="animal_staff" style="display: none;">
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_04.png')}}">
                    <div class="clinic_staff_nametag"><em>Jacky</em></div>
                </div>
                <p>
                    One two three four five six sevene eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen.
                </p>
            </div>
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_05.png')}}">
                    <div class="clinic_staff_nametag"><em>Suya</em></div>
                </div>
                <p>
                    UHuhu uhwuw whuuwsuh UHuhuhuhuHHu Huhuhuhuhu uhUHUHU uHuhwui uwuhw uhUW uhw hUh WUhwuH uH uwhu.
                </p>
            </div>
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_06.png')}}">
                    <div class="clinic_staff_nametag"><em>Mimi</em></div>
                </div>
                <p>
                    Bu oa wj ejjek ss,s cllc.ds dsfksj ,a. .a skdjaskd ajs iiQi iu 5 yg ygw duw u unu Tyy's lkj ,s.
                </p>
            </div>
            <div class="clinic_column">
                <div class="clinic_staff_thumbnail">
                    <img class="clinic_staff_image" src="{{url_for ('static' , filename='staff_clinic_07.png')}}">
                    <div class="clinic_staff_nametag"><em>Roxy</em></div>
                </div>
                <p>
                    lksadfjl askjfd laskjkdk kjasdjdf lklasd ,s lask jflkas jkldflas. fsaklas df. kjsafj jlkas kldflas.as kljjfas.
                </p>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    function staffDisplay(tabName) {
            var i;
            var x = document.getElementsByClassName("clinic_staff");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "grid";
        }
</script>
{% endblock %}