<div id="main">
    <div id="dog_name">CREDITS</div>
    <div id="credits" class="textbox">
        <h1>THANK YOU!</h1>
        <p>
            <b style="font-size: larger">Credits</b>
                <br><br>
                <br><b>Ilion creator, coordinator, and main illustrator:</b> <a href="https://twitter.com/lapithai" target="_blank">Roby</a>
                <br><b>Website coding:</b> <a href="https://michael.kiang.net/" target="_blank">Kiang</a>
                <br><b>Website layout/design:</b> <A href="https://x.com/aoneko2_osakana" target="_blank">Aoneko-san</a>
                <br><br>
                <br><b>Clinic:</b>
                <br>Dani- <a href="https://x.com/8rwns" target="_blank">8wrns</a>
                <br>Suya and Lotte- <a href="https://twitter.com/mochi070823" target="_blank">Lisa</a>
                <br><br>
                <br><b>Cafe:</b>
                <br>Cafe logo- <a href="https://twitter.com/c87nebula" target="_blank">Uga-san</a>
                <br>Sparky and Eleki- <a href="https://twitter.com/ywyw_MNTL" target="_blank">Soreyu</a>
                <br>Dorothy- <a href="https://x.com/nutritiousmilk" target="_blank">Nutritious Milk</a>
                <br><br>
                <br><b>Salon:</b>
                <br>Paris- <a href="https://x.com/meatfriedsteak" target="_blank">Meatfriedsteak</a>
                <br><br>
                <br><b>Daycare:</b>
                <br>Meryem- Rea
                <br><br>
                <br><b>Affiliate banner-</b> <a href="http://christyfrisby.com/" target="_blank">Ichigo</a>
                <br><br>
                <br><br><b>Sponsor logo designs</b>
                <br>Borrowed: 
                <br>Sweet&Spicy, Chaibitt, Squarefrog-: <a href="https://twitter.com/ywyw_MNTL" target="_blank">Soreyu</a>
                <br>LCE: <a href="https://x.com/_HAPPYHONEY" target="_blank">Happyhoney</a>
                <br>For Ilion:
                <br>Amydon- <a href="https://vgen.co/Dansanugrah" target="_blank">Dansanugrah</a>
                <br>Lycian, Hippos, Mysi- <a href="http://instagram.com/xshiik" target="_blank">xshiik</a>
                <br>Thrace- <a href="https://www.fiverr.com/ah_polash" target="_blank">ah_polash</a>
                <br>Halibut- <a href="https://twitter.com/M0squito0" target="_blank">M0squito0</a>
                <br>Arctic slopes- <a href="https://twitter.com/zurafruit" target="_blank">Zurafruit</a>
                <br><br>
                <br>Editors-  <a href="https://x.com/nutritiousmilk" target="_blank">Nutritious Milk</a>
                <br>Beta readers- TBD
        </p>
    </div>

    <div class="textbox">
        <img src="{{url_for ('static' , filename='whittier_fish.jpeg')}}" class="inline_img" alt="Fish_Time">
        <p id="fancy">
            <em>Thank you to Diomede and the fishermen of Whittier for the generous gift of over 80 crates of fresh caught fish!</em>
        </p>
        <p>
            "Diomede is a good friend of mine and Halibut's owner and is a regular supporter of the sanctuary. She and a few other fishermen of Whittier went on a fishing excursion for the dogs, and that's how we ended up with 80 crates of fish. I was a bit panicked to see a bunch of trucks parked in front of the sanctuary because I had no idea a delivery of this size was going to be made. But the dogs and I were grateful once we found out what was going on. It lasted us the whole winter season, and I learned a ton of new recipes!"
        </p>
    </div>

    <div class="textbox">
        <img src="{{url_for ('static' , filename='convention.jpeg')}}" class="inline_img" alt="Convention">
        <p id="fancy">
            <em>Thank you to the town of Diogenes for tickets to the 96th anniversary of the 1925 serum run!</em>
        </p>
        <p>
            "This year there was a huge convention-like celebration in dedication to the 1925 serum run in Anchorage, and the town of Diogenes provided tickets for the whole team! Many of my dogs are huge fans of Balto and Togo, so this was a fun and exciting experience. There was supposedly a path on the floor decorated like the 674-mile route and many different attractions dedicated to all 20 teams that participated. There was an event dedicated to Fritz and many of Seppala's other dogs, and a segment about the All-Alaskan sweepstakes. I wish I could have gone, but I had some important business to take care of in Nome (ironically). Thankfully Kima took a lot of photos and videos of everything, so it's almost like I didn't miss out at all!"
        </p>
        <img src="{{url_for ('static' , filename='souvenirs.jpeg')}}" class="inline_img" alt="Souvenirs">
        <p>
            "Wonderful gifts that everyone brought back for me. Plushies of Balto and Togo, along with a keychain, brochure, and a map that one of the dogs (I won't say who) thought was a snack."
        </p>
    </div>
</div>