<div id="main">
    <div id="dog_name">CREDITS</div>
    <div id="credits" class="textbox">
        <h1>THANK YOU!</h1>
        <p>
            <b style="font-size: larger">Credits</b>
                <br><br>
                <br><b>Ilion creator, coordinator, and main illustrator:</b> <a href="https://twitter.com/lapithai" target="_blank">Roby</a>
                <br><b>Website coding:</b> <a href="https://michael.kiang.net/" target="_blank">Kiang</a>
                <br><b>Website layout/design:</b> <A href="https://x.com/aoneko2_osakana" target="_blank">Aoneko</a>
                <br><br>
                <br><b>Clinic:</b>
                <br>Dani design- <a href="https://x.com/8rwns" target="_blank">8wrns</a>
                <br>Suya and Lotte design- <a href="https://twitter.com/mochi070823" target="_blank">Lisa</a>
                <br><br>
                <br><b>Cafe:</b>
                <br>Cafe logo- <a href="https://twitter.com/c87nebula" target="_blank">Uga</a>
				<br>Menu items- <a href="https://twitter.com/mochi070823" target="_blank">Lisa</a>
                <br>Sparky and Eleki design/artwork- <a href="https://twitter.com/ywyw_MNTL" target="_blank">Soreyu</a>
				<br>Dorothy artwork- <a href="https://twitter.com/ywyw_MNTL" target="_blank">Soreyu</a>
                <br>Dorothy design- <a href="https://x.com/nutritiousmilk" target="_blank">Nutritiousmilk</a>
                <br><br>
                <br><b>Salon:</b>
                <br>Paris design/artwork- <a href="https://x.com/meatfriedsteak" target="_blank">Meatfriedsteak</a>
				<br>Salon logo- <a href="https://x.com/nutnutye" target="_blank">Nutnutye</a>
                <br><br>
                <br><b>Daycare:</b>
                <br>Meryem design/artwork- Tazumar
                <br><br>
                <br><b>Affiliate banner-</b> <a href="https://twitter.com/ichigogoooooooo" target="_blank">Ichigo</a>
                <br>
                <br><br><b>Sponsor logo designs</b>
                <br><i>Borrowed</i>:
                <br>Sweet&Spicy, Chaibitt, Squarefrog- <a href="https://twitter.com/ywyw_MNTL" target="_blank">Soreyu</a>
                <br>LCE: <a href="https://x.com/_HAPPYHONEY" target="_blank">Happyhoney</a>
                <br><i>For Ilion</i>:
                <br>Amydon- <a href="https://vgen.co/Dansanugrah" target="_blank">Dansanugrah</a>
                <br>Lycian, Hippos, Mysi- <a href="http://instagram.com/xshiik" target="_blank">Xshiik</a>
                <br>Halibut- <a href="https://twitter.com/M0squito0" target="_blank">M0squito0</a>
                <br>Arctic slopes, Delta Junction Pet Supply- <a href="https://twitter.com/zurafruit" target="_blank">Zurafruit</a>
                <br><br>
                <br><b>Beta readers/testers/editors</b>-  <a href="https://x.com/nutritiousmilk" target="_blank">Nutritiousmilk</a>, <a href="https://x.com/2dpriestess" target="_blank">Ellie</a>, <a href="https://x.com/komewgi" target="_blank">Komewgi</a>, <a href="https://twitter.com/m0squito0" target="_blank">M0squito0</a>, and Tazumar
				<br>
				<br><br>
				<br><b>*Ilion is a work of fiction and has no affiliation with the real world competitions mentioned throughout the website. Real world competitions are used/mentioned for immersion purposes only.</b><br><br>
        </p>
    </div>
</div>