<div id="main">
    <img class="facilities_about" src="{{url_for ('static' , filename='daycare_about.png')}}" alt="Daycare"/>

    <div class="facilities_personnel">
        <div class="about_left">
            <img class="facilities_image" src="{{url_for ('static' , filename='daycare.png')}}">
        </div>
        <div class="about_right">
            <p>
                With the help of our dedicated nanny dog, Ilion offers a stimulating daily adventure for your beloved companion at our doggy daycare! Boasting both an outdoor section for your dog to enjoy the fresh Alaskan breeze, and an indoor section for when the weather gets rough, our different playdate programs are designed for dog breeds of all shapes and sizes. We do not offer onboarding at the moment, but we do plan to expand our services in the future! Our doggy daycare was built to thank the town of Diogenes for their ongoing support of Ilion; Diogenes residents can enroll their dogs in daycare free of charge. We accept enrollment through phone call or in-person query only.
            </p>
        </div>
    </div>

    <div class="facilities_personnel">
        <div class="staffAbout">
            <p>
                <strong>Nanny ~ Dog Caretaker</strong><br>
                &emsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            </p>
        </div>
        <div class="staffPic">
            <img class="staffThumb" src="{{url_for ('static' , filename='staff_daycare_00.png')}}" alt="Nanny ~ Dog Caretaker"/>
            <!-- This second img is a dummy used by the modal to open a different img than the one that was clicked -->
            <img id="staffFull" src="{{url_for ('static' , filename='nannyprofilefull.png')}}" style="display: none;"/>
        </div>
    </div>
</div>