<div id="main" class="index_main">
    <div id="landing_page">
        <div id="splash_container">
            <img src="{{url_for ('static' , filename='front_splash.png')}}" id="splash" alt="Welcome to Ilion!">
            <div id="credit"><a href="wwww.twitter.com">illust by: (artist)</a></div>
        </div>
        <div id="splash_decorations">
            <img src="{{url_for ('static' , filename='paw_prints.png')}}" id="paw_prints">


            <div id="ticker">
                <div class="ticker_wrap">
                    <div class="ticker_text">
                      <div class="ticker_item">Lorem ipsum dolor sit amet.</div>
                      <div class="ticker_item">The Ilion Site is up and running!</div>
                      <div class="ticker_item">Kiang built a desk and chair so he can finally start working like normal again!</div>
                      <div class="ticker_item">Words words words words words, you know?</div>
                      <div class="ticker_item">Gluten-free mumblecore chambray mixtape food truck.</div>
                    </div>
                </div>
                <img src="{{url_for ('static' , filename='horizontal_line.png')}}" id="ticker_line">
            </div>

            
            <img src="{{url_for ('static' , filename='team_ilion_text.png')}}" id="team_ilion">
            <img src="{{url_for ('static' , filename='join_us.png')}}" id="join_us">
        </div>
    </div>
</div>