<div id="main" class="index_main">
    <div id="landing_page">
        <div id="splash_container">
            <figure id="splash">
                {% if image == 1 %}
                <img src="{{url_for ('static' , filename='front_splash.png')}}" id="splash_art" alt="Welcome to Ilion!">
                <figcaption id="credit"><a href="https://www.twitter.com/hamcommis" target="_blank">artist: hamra</a></figcaption>
                {% elif image == 2 %}
                <img src="{{url_for ('static' , filename='front_splash_2.png')}}" id="splash_art" alt="Welcome to Ilion!">
                <figcaption id="credit"><a href="https://www.twitter.com/fptDZyIt0eHRfMd" target="_blank">artist: tareo</a></figcaption>
                {% else %}
                <img src="{{url_for ('static' , filename='front_splash_3.png')}}" id="splash_art" alt="Welcome to Ilion!">
                <figcaption id="credit"><a href="https://twitter.com/mochi070823" target="_blank">artist: Lisa</a></figcaption>
                {% endif %}
            </figure>
            <img src="{{url_for ('static' , filename='future4sleddogs.png')}}" id="future" alt="We are building a future for sled dogs!">
        </div>
        <div id="splash_decorations">
            <img src="{{url_for ('static' , filename='paw_prints.png')}}" id="paw_prints">


            <div id="ticker">
                <div class="ticker_wrap">
                    <div class="ticker_text">
                      <div class="ticker_item">Lorem ipsum dolor sit amet.</div>
                      <div class="ticker_item">Welcome to Team Ilion!</div>
                      <div class="ticker_item">Maybe accordion ankle buyback melee tearoom staircase!</div>
                      <div class="ticker_item">Words words words words words, you know?</div>
                      <div class="ticker_item">Gluten-free mumblecore chambray mixtape food truck.</div>
                    </div>
                </div>
                <img src="{{url_for ('static' , filename='horizontal_line.png')}}" id="ticker_line">
            </div>

            
            <img src="{{url_for ('static' , filename='team_ilion_text.png')}}" id="team_ilion">
            <img src="{{url_for ('static' , filename='join_us.png')}}" id="join_us">
        </div>
    </div>
</div>