<!DOCTYPE html>

<html lang="en">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <head>
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <!-- CSS and Font -->
        <link href="{{ url_for ('static' , filename='styles.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Squada+One">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
        <!-- Site Title -->
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Page Title-->
        <!-- <div class="title"><em>/</em>{{ self.title() }}</div> -->

        <div id="wrapper">

          <a href="/"><img src="{{url_for ('static' , filename='logo_ilion.png')}}" id="logo" alt="Welcome to Ilion!"/></a>

          <!-- Sidebar -->
          <div id="sidebarSpacing">
            <div id="mainSidebar" class="sidebar">
              <ul>
                <li><a id="aboutTab"><em>ABOUT</em></a></li>

                <!-- Very jank offset so that it matches the other buttons -->
                <li>
                <button class="accordion"><em>DOGS</em></button>
                <div class="teamsPanel">
                  <p>
                    <ul>
                      <li><a class="popout" href="/team" id="staffTab"><em>TEAM ILION</em></a></li>
                      <li><a class="popout" href="/retired" id="retiredTab"><em>KENNEL</em></a></li>
                    </ul>
                  </p>
                </div>
                </li>

                <li>
                  <button class="accordion"><em>FACILITIES</em></button>
                  <div class="teamsPanel">
                      <p>
                          <ul>
                          <li><a class="popout" id="clinicTab"><em>CLINIC</em></a></li>
                          <li><a class="popout" id="cafeTab"><em>CAFE</em></a></li>
                          <li><a class="popout" id="salonTab"><em>DOG SALON</em></a></li>
                          <li><a class="popout" id="daycareTab"><em>DAY CARE</em></a></li>
                          </ul>
                      </p>
                  </div>
              </li>

                <li><a id="sponsorsTab"><em>SPONSORS</em></a></li>
                <li><a id="blogTab"><em>BLOG</em></a></li>
                <li><a id="supportTab"><em>SUPPORT US</em></a></li>
              </ul>
            </div>
          </div>

          <!-- ------------------ -->
          <!-- Main Site Contents -->
          <!-- ------------------ -->

          <!-- ABOUT -->
          <div class="view" id="aboutView" style="display: none;">
            {% include "about.html" %}
          </div>

          <!-- BLOG -->
          <div class="view" id="blogView" style="display: none;">
            {% include "blog.html" %}
          </div>

          <!-- CAFE -->
          <div class="view" id="cafeView" style="display: none;">
            {% include "cafe.html" %}
          </div>

          <!-- CLINIC -->
          <div class="view" id="clinicView" style="display: none;">
            {% include "clinic.html" %}
          </div>

          <!-- DAYCARE -->
          <div class="view" id="daycareView" style="display: none;">
            {% include "daycare.html" %}
          </div>

          <!-- INDEX -->
          {% if (isTeam == True) %}
            <div class="view" id="indexView" style="display: none;">
              {% include "index.html" %}
            </div>
          {% else %}
            <div class="view" id="indexView">
              {% include "index.html" %}
            </div>
          {% endif %}


          <!-- SALON -->
          <div class="view" id="salonView" style="display: none;">
            {% include "salon.html" %}
          </div>

          <!-- SPONSORS -->
          <div class="view" id="sponsorsView" style="display: none;">
            {% include "sponsors.html" %}
          </div>

          <!-- SUPPORT -->
          <div class="view" id="supportView" style="display: none;">
            {% include "support.html" %}
          </div>

          <!-- DOGS PAGES: TEAM, RETIRED/KENNEL, AND PROFILE -->
          {% if (isTeam == True) %}
            <div class="view" id="dogsView">
              {% block body %}
              {% endblock %}
            </div>
          {% endif %}

          <!-- Modal that I got from W3 Schools -->
          <div id="myModal" class="modal">
              <!-- The Close Button -->
              <span class="close">&times;</span>
              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
          </div>

        </div>

        <script>
          /* Javascript for Accordion sidebar, I got this from W3Schools */
          var acc = document.getElementsByClassName("accordion");
          var i;

          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Deselect any other accordions and hide their contents */
                for (n = 0; n < acc.length; n++) {
                    if (this != acc[n]) {
                        acc[n].classList.remove("active");
                        acc[n].nextElementSibling.style.display = "none";
                    }
                }

                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                panel.style.display = "none";
                } else {
                panel.style.display = "block";
                }
            });
          }

          // This is the Javascript that makes the tabs actually load the correct views
          $(document).ready(function() {

            // Set up the tabs to load the correct views
            $("#aboutTab").click(function() { load_view('about') } );
            $("#blogTab").click(function() { load_view('blog') } );
            $("#cafeTab").click(function() { load_view('cafe') } );
            $("#clinicTab").click(function() { load_view('clinic') } );
            $("#daycareTab").click(function() { load_view('daycare') } );
            $("#indexTab").click(function() { load_view('index') } );
            $("#salonTab").click(function() { load_view('salon') } );
            $("#sponsorsTab").click(function() { load_view('sponsors') } );
            $("#supportTab").click(function() { load_view('support') } );

            // By default, load the landing page
            // Unless we are on the TEAMS or RETIRED or PROFILE pages
            // load_view('index');
          });

          function load_view(viewName) {
              $(".view").each(function(index) {
                if ($(this).attr("id") == (viewName + 'View')) {
                  $(this).show();
                }
                else { $(this).hide(); }
              });

              $(".title").html(viewName);

              // Clear open accordion menus
              $(".accordion").each(function(index) {
                this.classList.remove("active");
                var panel = this.nextElementSibling;
                panel.style.display = "none";
              });
          }

          // Javascript for profile picture that expands into the larger version
          // This website proudly brought to you by W3 Schools, lmao
          // I did have to JQuery-ify it though, and set it up to work for multiple images
          // And also to make it display a different, fuller version of the thumbnail

            // Get the modal
            var modal = $("#myModal");

            // Hide by default
            modal.hide();

            // Get reference to modal img caption
            var modalImg = $("#img01");
            var captionText = $("#caption");

            $(".staffThumb").click(function() {
              modal.show();
              modalImg.attr("src", $(this).next().attr("src"));
              captionText.text($(this).attr("alt"));
            });

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.hide()
            }

          // End of modal stuff

        </script>

        {% block script %}
        {% endblock %}
    </body>
</html>
