<!DOCTYPE html>

<html lang="en">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <head>
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <!-- CSS and Font -->
        <link href="{{ url_for ('static' , filename='styles.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Squada+One">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
        <!-- Flickity for carousels -->
        <link rel="stylesheet" href="/static/flickity.css" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Site Title -->
        <title>{% block title %}{% endblock %}</title>
        <!-- Snow time -->
        <script src="{{url_for('static', filename='pure-snow.js')}}"></script>
    </head>

    <body>
        <!-- Varsion No. -->
        <div id="version_number">
          VERSION 1.0
          <img id="credits_dog" onclick="load_view('contact')" src="{{url_for ('static' , filename='version_gif.gif')}}" alt="Sled dog running gif"/>
        </div>

        <!-- Page Title-->
        <!-- <div class="title"><em>/</em>{{ self.title() }}</div> -->

        <div id="wrapper">
          <a href="/"><img src="{{url_for ('static' , filename='logo_ilion.png')}}" id="logo" alt="Welcome to Ilion!"/></a>

          <!-- Sidebar -->
          <div id="sidebarSpacing">
            <div id="mainSidebar" class="sidebar">
              <ul>
                <li><a id="aboutTab"><em>ABOUT</em></a></li>

                <!-- Very jank offset so that it matches the other buttons -->
                <li>
                <button class="accordion"><em>TEAM</em></button>
                <div class="teamsPanel">
                  <p>
                    <ul>
                      <li><a class="popout" href="/team" id="staffTab"><em>DOGS</em></a></li>
                      <li><a class="popout" id="musherTab"><em>MUSHER</em></a></li>
                      <li><a class="popout" id="resultsTab"><em>RESULTS</em></a></li>
                    </ul>
                  </p>
                </div>
                </li> 

                <li>
                  <button class="accordion"><em>FACILITIES</em></button>
                  <div class="teamsPanel">
                      <p>
                          <ul>
                          <li><a class="popout" id="clinicTab"><em>CLINIC</em></a></li>
                          <li><a class="popout" href="/cafe" id="cafeTab"><em>CAFE</em></a></li>
                          <li><a class="popout" id="salonTab"><em>DOG SALON</em></a></li>
                          <li><a class="popout" id="daycareTab"><em>DAY CARE</em></a></li>
                          </ul>
                      </p>
                  </div>
                </li>

                <li><a id="blogTab"><em>BLOG</em></a></li>
                <li>
                  <button class="accordion"><em>SUPPORT US</em></button>
                  <div class="teamsPanel">
                      <p>
                          <ul>
                            <li><a class="popout" id="supportTab"><em>FREEBIES</em></a></li>
                            <li><a class="popout" id="storeTab"><em>STORE</em></a></li>
                          </ul>
                      </p>
                  </div>
                </li>

                <li>
                  <button class="accordion"><em>CONTACT</em></button>
                  <div class="teamsPanel">
                      <p>
                          <ul>
                            <li><a class="popout" id="faqTab"><em>FAQ</em></a></li>
                            <li><a class="popout" id="recruitTab"><em>RECRUIT</em></a></li>
                          </ul>
                      </p>
                  </div>
                </li>
                
                <li><img src="{{url_for ('static' , filename='ichi_banner.gif')}}" alt="Banner by Ichigo" style="margin-left: 30px;"/></li>
              </ul>
            </div>
          </div>

          <!-- ------------------ -->
          <!-- Main Site Contents -->
          <!-- ------------------ -->

          <!-- ABOUT -->
          <div class="view" id="aboutView" style="display: none;">
            {% include "about.html" %}
          </div>

          <!-- MUSHER -->
          <div class="view" id="musherView" style="display: none;">
            {% include "musher.html" %}
          </div>

          <!-- RESULTS -->
          <div class="view" id="resultsView" style="display: none;">
            {% include "results.html" %}
          </div>

          <!-- BLOG -->
          <div class="view" id="blogView" style="display: none;">
            {% include "blog.html" %}
          </div>

          <!-- CAFE -->
          {% if (isCafe == True) %}
            <div class="view" id="cafeView">
              {% block cafe %}
              {% endblock %}
            </div>
          {% endif %}

          <!-- CLINIC -->
          <div class="view" id="clinicView" style="display: none;">
            {% include "clinic.html" %}
          </div>

          <!-- DAYCARE -->
          <div class="view" id="daycareView" style="display: none;">
            {% include "daycare.html" %}
          </div>

          <!-- INDEX -->
          {% if ((isTeam == True) or (isCafe == True)) %}
            <div class="view" id="indexView" style="display: none;">
              {% include "index.html" %}
            </div>
          {% else %}
            <div class="view" id="indexView">
              {% include "index.html" %}
            </div>
          {% endif %}
          
          <!-- SALON -->
          <div class="view" id="salonView" style="display: none;">
            {% include "salon.html" %}
          </div>

          <!-- CONTACT -->
          <div class="view" id="contactView" style="display: none;">
            {% include "contact.html" %}
          </div>

          <!-- SUPPORT -->
          <div class="view" id="supportView" style="display: none;">
            {% include "support.html" %}
          </div>

          <!-- STORE -->
          <div class="view" id="storeView" style="display: none;">
            {% include "store.html" %}
          </div>

          <!-- DOGS PAGES: TEAM, RETIRED/KENNEL, AND PROFILE -->
          {% if (isTeam == True) %}
            <div class="view" id="dogsView">
              {% block body %}
              {% endblock %}
            </div>
          {% endif %}

          <!-- Modal that I got from W3 Schools -->
          <div id="myModal" class="modal">
              <!-- The Close Button -->
              <span class="close">&times;</span>
              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
          </div>
        </div>

        <!-- Snow effect -->
        <div id="snow" data-count="400"></div>

        <!---------------------------------------->
        <!-- End of content, time for SCRIPTS!! -->
        <!---------------------------------------->

        <!-- Extension Flickity used for carousel -->
        <!-- https://flickity.metafizzy.co/ -->
        <script src="/static/flickity.pkgd.js"></script>

        <!--  SLIDESHOW SCRIPTS, EACH SLIDESHOW NEEDS DIFFERENT ID TO ACCOUNT FOR LENGTH -->

        
        <script>
            // Original JavaScript code by Chirp Internet: www.chirpinternet.eu
            // Please acknowledge use of this code by including this header.
            window.addEventListener("DOMContentLoaded", function(e) {
              var stage = document.getElementById("slideshow");
              var fadeComplete = function(e) { stage.appendChild(arr[0]); };
              var arr = stage.getElementsByTagName("a");
              for(var i=0; i < arr.length; i++) {
                arr[i].addEventListener("animationend", fadeComplete, false);
              }

            }, false);

            window.addEventListener("DOMContentLoaded", function(e) {
              var stage = document.getElementById("daycare_slideshow");
              var fadeComplete = function(e) { stage.appendChild(arr[0]); };
              var arr = stage.getElementsByTagName("a");
              for(var i=0; i < arr.length; i++) {
                arr[i].addEventListener("animationend", fadeComplete, false);
              }

            }, false);

            window.addEventListener("DOMContentLoaded", function(e) {
              var stage = document.getElementById("salon_slideshow");
              var fadeComplete = function(e) { stage.appendChild(arr[0]); };
              var arr = stage.getElementsByTagName("a");
              for(var i=0; i < arr.length; i++) {
                arr[i].addEventListener("animationend", fadeComplete, false);
              }

            }, false);
      </script>

        <script>
          // Flickity initialization
          $(document).ready(function () {
              $('.carousel').flickity({
                  wrapAround: true,
                  freeScroll: true,
                  imagesLoaded: true,
                  prevNextButtons: false,
                  pageDots: false,
                  lazyLoad: 3
              });
          });
      
          /* Set the landing page to initial window size, don't resize elements when window size changes */
          $(document).ready(function() {
            var initialWidth = $(window).width();
            $('#landing_page').css('width', initialWidth + 'px');
          });

          /* Same deal but for the dog profile page */
          $(document).ready(function() {
            var initialWidth = $(window).width() * 0.40;
            $('#gallery').css('width', initialWidth + 'px');
          });

          /* Javascript for Accordion sidebar, I got this from W3Schools */
          var acc = document.getElementsByClassName("accordion");
          var i;

          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Deselect any other accordions and hide their contents */
                for (n = 0; n < acc.length; n++) {
                    if (this != acc[n]) {
                        acc[n].classList.remove("active");
                        acc[n].nextElementSibling.style.display = "none";
                    }
                }

                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                panel.style.display = "none";
                } else {
                panel.style.display = "block";
                }
            });
          }

          // This is the Javascript that makes the tabs actually load the correct views
          $(document).ready(function() {

            // Set up the tabs to load the correct views
            $("#aboutTab").click(function() { load_view('about') } );
            $("#blogTab").click(function() { load_view('blog') } );
            //$("#cafeTab").click(function() { load_view('cafe') } );
            $("#musherTab").click(function() { load_view('musher') } );
            $("#resultsTab").click(function() { load_view('results') } );
            $("#clinicTab").click(function() { load_view('clinic') } );
            $("#daycareTab").click(function() { load_view('daycare') } );
            $("#indexTab").click(function() { load_view('index') } );
            $("#salonTab").click(function() { load_view('salon') } );
            $("#contactTab").click(function() { load_view('contact') } );
            $("#supportTab").click(function() { load_view('support') } );
            $("#storeTab").click(function() { load_view('store') } );
            $("#faqTab").click(function() { load_view('store') } );
            $("#recruitTab").click(function() { load_view('store') } );

            // By default, load the landing page
            // Unless we are on the TEAMS or RETIRED or PROFILE pages
            // load_view('index');
          });

          function load_view(viewName) {
              $(".view").each(function(index) {
                if ($(this).attr("id") == (viewName + 'View')) {
                  $(this).show();
                }
                else { $(this).hide(); }
              });

              $(".title").html(viewName);

              // Clear open accordion menus
              $(".accordion").each(function(index) {
                this.classList.remove("active");
                var panel = this.nextElementSibling;
                panel.style.display = "none";
              });
          }

          // Javascript for profile picture that expands into the larger version
          // This website proudly brought to you by W3 Schools, lmao
          // I did have to JQuery-ify it though, and set it up to work for multiple images
          // And also to make it display a different, fuller version of the thumbnail

            // Get the modal
            var modal = $("#myModal");

            // Hide by default
            modal.hide();

            // Get reference to modal img caption
            var modalImg = $("#img01");
            var captionText = $("#caption");

            $(".staffThumb").click(function() {
              modal.show();
              modalImg.attr("src", $(this).next().attr("src"));
              captionText.text($(this).attr("alt"));
            });

            $(".cafe_staff_image").click(function() {
              modal.show();
              modalImg.attr("src", $(this).next().attr("src"));
              captionText.text($(this).attr("alt"));
            });

            $("#expandedImg").click(function() {
              modal.show();
              modalImg.attr("src", $(this).attr("src"));
              captionText.text($(this).attr("alt"));
            });

            $(".ilion_map").click(function() {
              modal.show();
              modalImg.attr("src", $(this).attr("src"));
              captionText.text($(this).attr("alt"));
            });

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.hide()
            }

          // End of modal stuff

        </script>

        {% block script %}
        {% endblock %}
    </body>
</html>
