{% extends "/layout.html" %}

{% block title %}
    {{ dog.name }}
{% endblock %}

{% block body %}
<div id="aboutPageWrapper">

    <!-- <a href="/team"><img src="{{ url_for ('static' , filename='back_button.png') }}" class="backButton" alt="Back to Team Page"></a> -->

    <!-- Image Gallery -->

    <!-- Initialize the images -->
    {% set pic_1 = 'dog_' + dog.name|lower + '_1.jpg' %}
    {% set pic_2 = 'dog_' + dog.name|lower + '_2.jpg' %}
    {% set pic_3 = 'dog_' + dog.name|lower + '_3.jpg' %}

    <div id="dog_name">
        {% if dog.name == "Little_Kikky" %}
            LITTLE KIKKY
        {% else %}
            {{dog.name|upper}}
        {% endif %}
    </div>

    <div id="gallery">
        
        <!-- Standardize the height of the images -->
        <div id="galleryFrame">
            <!-- The big image -->
            <div class="bigPic">
                <!-- Expanded image; don't forget to set a default image! -->
                <img id="expandedImg" src="{{ url_for ('static', filename=pic_1) }}">
            
                <!-- Image text; if you want a caption on the image -->
                <div id="imgtext"></div>
            </div>
        </div>

        <!-- The gallery of images -->
        <!-- Whatever is in "alt" will be the caption when the image is clicked, leave blank for no caption -->
        <div class="dog_profile_row">
            <div class="dog_profile_column">
                <img src="{{ url_for ('static', filename=pic_1) }}" alt="" onclick="myFunction(this);">
            </div>
            <div class="dog_profile_column">
                <img src="{{ url_for ('static', filename=pic_2) }}" alt="" onclick="myFunction(this);">
            </div>
            <!--<div class="column">
            <img src="{{ url_for ('static', filename=pic_3) }}" alt="" onclick="myFunction(this);">
            </div>-->
        </div>
    </div>

    <!-- End of Image Gallery -->

    <!-- Information About Dog -->

    <div id="info">

        {% if (dog.name == "Millius") or (dog.name == "Cheremsha") or (dog.name == "Halibut") %}
            <div id="aboutTabs">
                <button class="tab" style="display: none;" id="interview_tab" onclick="openTab('interview')"></button>
                <button class="tab" style="display: none;" id="facts_tab" onclick="openTab('stats')"></button>
                <button class="tab" style="display: none;" id="about_tab" onclick="openTab('data')"></button>
            </div>
        {% else %}
            <div id="aboutTabs">
                <button class="tab" id="interview_tab" onclick="openTab('interview')"></button>
                <button class="tab" id="facts_tab" onclick="openTab('stats')"></button>
                <button class="tab" id="about_tab" onclick="openTab('data')"></button>
            </div>
        {% endif %}

        <div class="toggleInfo" id="data" style="display:block">
            <div class="dogTextboxBackground">
                <div class="dogTextbox">
                    <p>{{ dog.about|safe }}</p>
                </div>
            </div>

            <!-- Inline styling for just these two elements! -->
            <div class="dogTextboxBackground">
                <div class="dogTextbox"  id="scrollingBox">
                    <p style="font-size: 19px;">{{ dog.story|safe }}<br><br><br><br><br><br></p>
                </div>
            </div>
        </div>

        <div class="toggleInfo" id="stats" style="display:none">
            <div class="dogTextboxBackground">
                <div class="dogTextbox">
                    <p>{{ dog.stats|safe }}</p>
                </div>
            </div>

            <!-- Inline styling for just these two elements! -->
            <div class="dogTextboxBackground">
                <div class="dogTextbox"  id="scrollingBox">
                    <p style="font-size: 19px;">{{ dog.facts|safe }}<br><br><br></p>
                </div>
            </div>

            <!-- Inline styling for just these two elements! -->
            <div class="dogTextboxBackground">
                <div class="dogTextbox" id="scrollingBox">
                    <h1>Musher's Comment</h1>
                    <p style="font-size: 19px;">{{ dog.comment|safe }}<br><br><br></p>
                </div>
            </div>
        </div>

        <div class="toggleInfo" id="interview" style="display: none;">
            <div class="dogTextboxBackground">
                <!-- Inline styling to make the interview box larger -->
                <div class="dogTextbox" id="scrollingBox" style="max-height: 60vh; padding-bottom: 100px;">
                    <h1>Interview</h1>
                    <p>{{ dog.interview|safe }}<br><br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Javascript for centering the main gallery image -->
<!-- Next time we really gotta standardize image submission dimensions... -->
<script>
    function centerGallery() {
        var galleryImageSize = $('#expandedImg').width();
        // This is hardcoded in the css for Desktop view
        var galleryMaxWidth = 462;
        if (galleryMaxWidth > galleryImageSize) {
            var emptySpace = galleryMaxWidth - galleryImageSize;
            $('#expandedImg').css("margin-left", (emptySpace / 2));
        }
        else {
            $('#expandedImg').css("margin-left", 0);
        }
    };
</script>

<script>
    function myFunction(imgs) {
        // Get the expanded image
        var expandImg = document.getElementById("expandedImg");
        // Get the image text
        var imgText = document.getElementById("imgtext");
        // Use the same src in the expanded image as the image being clicked on from the grid
        expandImg.src = imgs.src;
        // Use the value of the alt attribute of the clickable image as text inside the expanded image
        imgText.innerHTML = imgs.alt;
        // Make sure new image is centered
        centerGallery();
    }
</script>

<!-- Javascript for the tabs that control the info panels, I ALSO got this from W3Schools -->
<script>
    function openTab(tabName) {
            var i;
            var x = document.getElementsByClassName("toggleInfo");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
        }
</script>

<!-- Javascript for centering the main gallery image -->
<!-- Next time we really gotta standardize image submission dimensions... -->
<script>
    $(window).on("load", function() {
        centerGallery();
    });
</script>
{% endblock %}