<div id="mainFacilities">
    <div class="unequalColumns">
        <div class="unequalColumn eyecatch">
            <img id="eyecatch" src="{{url_for ('static' , filename='pariseyecatch.png')}}">
        </div>
        <div class="unequalColumn middle">
            <img class="facilitiesLogo" src="{{url_for ('static' , filename='logo_salon_alt.png')}}">
            <h1>WELCOME</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum<br><br>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <h1>STUFF</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at turpis aliquam, sodales justo ac, feugiat lacus. Nulla leo ipsum, lacinia eu metus vitae, feugiat rutrum nisi. Vestibulum vel justo nisl. Sed vulputate libero non felis luctus, sit amet cursus ipsum bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc lobortis, mauris ac elementum ullamcorper, massa lectus dictum purus, dapibus sollicitudin tortor ipsum sit amet ex. Suspendisse quis massa nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi. Donec sagittis ullamcorper leo, eu posuere nulla venenatis at.
            </p>
        </div>
        <div class="unequalColumn extra">
            <img src="{{url_for ('static' , filename='salon.png')}}">
            <div class="schedule">
                <p>
                    <strong>Schedule</strong><br>
                    Monday: 9:00-15:00<br>
                    Tuesday: 9:00-15:00<br>
                    Wednesday: CLOSED<br>
                    Tuesday: 9:00-15:00<br>
                    Tuesday: 9:00-15:00<br>
                    Saturday: CLOSED<br>
                    Sunday: CLOSED<br>
                    <br>
                    Contact for Appointment:<br>
                    bootybootybootybooty
                </p>
            </div>
        </div>
    </div>

    <h2>Meet our dog groomer!</h2>

    <div class="facilitiesPersonnel">
        <div class="staffAbout">
            <p>
                <strong>Paris ~ Ilion's Dog Groomer</strong><br>
                &emsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>
        </div>
        <div class="staffPic">
            <img class="staffThumb" src="{{url_for ('static' , filename='parisprofilethumb.png')}}" alt="Paris ~ Ilion's Dog Groomer"/>
            <!-- This second img is a dummy used by the modal to open a different img than the one that was clicked -->
            <img id="staffFull" src="{{url_for ('static' , filename='parisprofilefull.png')}}" style="display: none;"/>
        </div>
    </div>
</div>