{% extends "encyclopedia/layout.html" %}

{% block title %}
    SALON
{% endblock %}

{% block body %}
    <div id="mainFacilities">
        <div id="gallery">
            <img id="facilitiesImg" src="{{url_for ('static' , filename='thumb_paris.png')}}">
        </div>
        <div id="info">
            <h1>WELCOME</h1>
            <p>
                Welcome to the salon. This is where info about the salon will go. La-la-la-la-la.<br><br>
                This is a new paragraph.
            </p>
            <h1>TROUBLE</h1>
            <p>
                I say you got trouble my friend i say you got trouble right here in river city why sure im a billard player mighty proud to say im always mighty proud to say it i consider the hours ive spent with a cue in my hand are golden helps you cultivate horse sense and a keen head and a cool eye jever take a try an iron-clad lead to yourself from a three-rail billiard shot well just as i say it takes judgment brains and maturity to score in a balkline game i can any fool can take and shove a ball in any pocket and i call that sloth 
            </p>
        </div>
    </div>
{% endblock %}