<div id="main">
    <img class="facilities_about" src="{{url_for ('static' , filename='salon_about.png')}}" alt="Salon"/>

    <div class="facilities_blurb">
        <div class="about_left">
            <img class="facilities_image" src="{{url_for ('static' , filename='salon.png')}}">
            <!--
            <div id="salon_slideshow">
                <a><img src="{{url_for ('static' , filename='slide_1.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_2.png')}}"></a>
                <a><img src="{{url_for ('static' , filename='slide_4.png')}}"></a>
            </div>
            -->
        </div>
        <div class="about_right">
            <p>
                &emsp;&emsp;No need to drive hours to Anchorage for a grooming appointment—not while La Pomme Dior is here! Located on site within our veterinary clinic, our talented stylist Paris offers a wide range of grooming services. Full haircuts and styling, nail trimming, and luxurious baths with our house shampoo and conditioner—this is without question a salon experience fit for royalty! A complimentary set of accessories (your choice of cute, cool, and more) is also included with our spa packages!<Br>&emsp;&emsp;<i>Appointments are accepted through in-person query only.</i> 
            </p>
        </div>
    </div>

    <div class="facilities_personnel_skinny">
        <div class="staffAbout">
            <div class="scrolling_staff_bio">
                <p>
                    <br>
                    <strong>Ilion's Dog Groomer</strong><br><br>
                    &emsp;&emsp;Although Paris is the younger sister of our Sanctuary's Musher, Hector, she spent much of her life on the coast of Southern France with close family friends attending a prestigious all-girls academy. While she did enjoy her experience there, she spent her daily life following her graduation feeling aimless until a series of fateful events led her to pursue dog grooming. The plethora of methods and vast variety of styles piqued her interest.
                    <br>
                    &emsp;&emsp;Paris started studying the art of dog grooming and soon began to enter competitions—in no time she was taking home medals! She came to understand that it was her life’s calling to make every dog as beautiful as can be! As she continued to rise in popularity within the world of dog grooming, she came to learn about the Ilion Sanctuary’s notoriety as an altruistic and competitive organization. Though it wasn’t an easy move, Paris relocated to Alaska to reunite with our Musher in order to start her very own salon. It wasn’t as glitzy or glamorous as the dog show world, but she found the work to be incredibly fulfilling.                
                    <br><br><br><br>
                </p>
            </div>
        </div>
        <div class="clinic_staff_thumbnail">
            <img class="staffThumb" src="{{url_for ('static' , filename='staff_salon_00.png')}}" alt="Paris ~ Ilion's Dog Groomer"/>
            <!-- This second img is a dummy used by the modal to open a different img than the one that was clicked -->
            <img id="staffFull" src="{{url_for ('static' , filename='parisprofilefull.png')}}" style="display: none;"/>
            <div class="salon_staff_nametag"><em>Paris</em></div>
        </div>
    </div>
</div>