<div id="main">
    <div id="dog_name">
        FREEBIES
    </div>

    <div class="freebie_container">
        <a href="https://www.dropbox.com/scl/fi/jqubmxx72fuqd9nfpvzux/Ilion-stickers-kitsy.rar?rlkey=0uvk438onspg9m4q3fqgr4fps&dl=0" target="_blank"><img class="freebie_image" src="{{url_for ('static' , filename='sticker_pack.png')}}"></a>
        <a href="https://www.dropbox.com/scl/fi/x85gfogemigxjw8khrfji/Ilion-emojis-Bon.rar?rlkey=siw43c9fqaj9gnr4cgq20eilq&dl=0" target="_blank"><img class="freebie_image" src="{{url_for ('static' , filename='emoji_pack.png')}}"></a>
    </div>
</div>